.mainContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:#F9F9F9;
}

.mainContainer > .container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;
    background-color: #C9D6BD;
}
